#center {
    width: 58%;
    border: solid 1px;
    border-color: black;
    margin: 10px 10px 10px 0px;
}

#center #zoom {
    display: fixed;
    padding: 10px;
}

#center #zoom button {
    background-color: #6F74F7;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#center #zoom button:hover {
    background-color: #131898;
    transition: background-color 0.5s ease;
}