<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVG ID Editor</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/left.css" />
    <link rel="stylesheet" href="/static/css/center.css" />
    <link rel="stylesheet" href="/static/css/right.css" />
    <link rel="stylesheet" href="/static/css/overlay.css" />
</head>

<script src="/static/js/file.js"></script>
<script src="/static/js/project.js"></script>
<script src="/static/js/load.js"></script>

<body>
    <div id="left">
        <div id="file-management">
            <h1>SVG ID Editor</h1>
            <div id="file-icons">
                <button onclick="document.getElementById('new-project').style.display='flex';"><img src="/static/assets/new.png" alt="New Project" /></button>
                <button onclick="projects();"><img src="/static/assets/open.png" alt="Open Project" /></button>
                <button><img src="/static/assets/about.png" alt="About" /></button>
            </div>
        </div>

        <div id="project" style="display: none;">
            <div id="project-id" style="display: none;"></div>
            <input type="text" id="project-title" value="Project Name" readonly />
            <input onchange="uploadFile();" id="file-upload" name="upload-svg" type="file" accept=".svg" style="display:none;" />
            <button onclick="document.getElementById('file-upload').click();">Upload SVG</button>
            <div id="project-files">
            </div> 
        </div>
    </div>

    <div id="center" style="display: none;">
        <div id="zoom">
            <button>+</button>
            <button>-</button>
        </div>
        <div id="preview"></div>
    </div>

    <div id="right" style="display: none;">
        <div id="option">
            <div id="option-row-1">
                <button id="automatic-button">Automatic</button>
                <input id="manual-upload" type="file" accept=".txt" style="display: none;" />
                <button onclick="document.getElementById('manual-upload').click();" id="manual-button">Upload</button>
                <button id="reset-button">Reset</button>
            </div>
            <div id="option-row-2">
                <button>Test</button>
                <button>Download</button>
                <button>Document</button>
            </div>
        </div>

        <h2>ID List</h2>

        <div id="id-list">
        </div>
    </div>

    {% include 'new.html' %}
    {% include 'open.html' %}
</body>
</html>