<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVG ID Editor</title>
</head>

<body>
    <div id="left">
        <div id="file-management">
            <h1>SVG ID Editor</h1>
            <div id="file-icons">
                <button></button>
                <button></button>
                <button></button>
            </div>
        </div>

        <div id="project">
            <input type="file" />
            <div id="project-files">
            </div> 
        </div>
    </div>

    <div id="center">
        <div id="zoom">
            <button>+</button>
            <button>-</button>
        </div>
    </div>

    <div id="right">
        <div id="option">
            <div id="option-row-1">
                <button></button>
                <button></button>
                <button></button>
            </div>
            <div id="option-row-2">
                <button></button>
                <button></button>
                <button></button>
            </div>
        </div>

        <h2>ID List</h2>

        <div id="id-list">
        </div>
    </div>
</body>
</html>